html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  _text-align: center;
}
.main {
  display: table-cell;
  *display: block;
  width: auto;
}
.body,
.main {
  *zoom: 1;
}
.body:after,
.main:after {
  clear: both;
  display: block;
  visibility: hidden;
  overflow: hidden;
  height: 0 !important;
  line-height: 0;
  font-size: xx-large;
  content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}
.page {
  margin: 0 auto;
  width: 950px;
  _text-align: left;
}
.oldSchool {
  width: 750px;
}
.gs960 {
  width: 960px;
}
.liquid {
  width: auto;
  margin: 0;
}
.leftCol {
  float: left;
  width: 250px;
  _margin-right: -3px;
}
.rightCol {
  float: right;
  width: 300px;
  _margin-left: -3px;
}
.thin {
  width: 160px;
}
.wide {
  width: 300px;
}
.line:after,
.lastUnit:after {
  clear: both;
  display: block;
  visibility: hidden;
  overflow: hidden;
  height: 0 !important;
  line-height: 0;
  font-size: xx-large;
  content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}
.line {
  *zoom: 1;
}
.unit {
  float: left;
}
.size1of1 {
  float: none;
}
.size1of2 {
  width: 50%;
}
.size1of3 {
  width: 33.33333%;
}
.size2of3 {
  width: 66.66666%;
}
.size1of4 {
  width: 25%;
}
.size3of4 {
  width: 75%;
}
.size1of5 {
  width: 20%;
}
.size2of5 {
  width: 40%;
}
.size3of5 {
  width: 60%;
}
.size4of5 {
  width: 80%;
}
.lastUnit {
  display: table-cell;
  float: none;
  width: auto;
  *display: block;
  *zoom: 1;
  _position: relative;
  _left: -3px;
  _margin-right: -3px;
}
.mod {
  margin: 10px;
}
.bd,
.ft,
.hd {
  display: inline-block;
  width: 100%;
  *display: block;
  *width: auto;
  zoom: 1;
}
.inner:after,
.hd:after,
.bd:after,
.ft:after {
  clear: both;
  display: block;
  visibility: hidden;
  overflow: hidden;
  height: 0 !important;
  line-height: 0;
  font-size: xx-large;
  content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}
.inner {
  position: relative;
}
b {
  display: block;
  background-repeat: no-repeat;
  font-size: 1%;
  position: relative z-index 10;
}
.tl,
.tr,
.bl,
.br {
  height: 10px;
  width: 10px;
  float: left;
}
.tl {
  background-position: left top;
}
.tr {
  background-position: right top;
}
.bl {
  background-position: left bottom;
}
.br {
  background-position: right bottom;
}
.br,
.tr {
  float: right;
}
.tr,
.tl {
  overflow: hidden;
  margin-bottom: -32000px;
}
.bl,
.br {
  margin-top: -10px;
}
.top {
  background-position: center top;
}
.bottom {
  background-position: center bottom;
}
.complex {
  overflow: hidden;
  *position: relative;
  *zoom: 1;
}
.complex .tl,
.complex .tr {
  height: 32000px;
  margin-bottom: -32000px;
  width: 10px;
}
.complex .top {
  height: 5px;
}
.complex .bottom {
  height: 5px;
}
.pop {
  overflow: visible;
  margin: 10px 20px 20px 10px;
  background-position: left top;
}
.pop .inner {
  right: -10px;
  bottom: -10px;
  background-position: right bottom;
  padding: 0 10px 10px 0;
}
.pop .tl,
.pop .br {
  display: none;
}
.pop .bl {
  bottom: -10px;
}
.pop .tr {
  float: right;
  margin-right: -10px;
  _display: inline;
}
.media {
  margin: 10px;
}
.media:after,
.bd:after {
  clear: both;
  display: block;
  visibility: hidden;
  overflow: hidden;
  height: 0 !important;
  line-height: 0;
  font-size: xx-large;
  content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}
.media .bd {
  display: table-cell;
  zoom: 1;
}
.media .bd > :first-child {
  margin-top: 0;
}
.media .bd > :last-child {
  margin-bottom: 0;
}
.media .img {
  float: left;
}
.media .img img {
  display: block;
}
.media .imgExt {
  float: right;
}
body {
  font-family: sans-serif;
}
.icon {
  cursor: pointer;
  display: inline-block;
  font: normal normal normal 22px/1 Pictos;
  text-rendering: geometricPrecision;
  position: relative;
  text-transform: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}
.icon:focus,
.icon:hover {
  color: #a1a1a1;
}
.icon:active {
  top: 1px;
}
h1,
.h1 {
  font-size: 196%;
  font-weight: normal;
  font-style: normal;
  color: #000;
}
h2,
.h2 {
  font-size: 167%;
  font-weight: normal;
  font-style: normal;
  color: #000;
}
h3,
.h3 {
  font-size: 146.5%;
  font-weight: normal;
  font-style: normal;
  color: #000;
}
h4,
.h4 {
  font-size: 123.1%;
  font-weight: normal;
  font-style: normal;
  color: #000;
}
h5,
.h5 {
  font-size: 108%;
  font-weight: bold;
  font-style: normal;
  color: #000;
}
h6,
.h6 {
  font-size: 108%;
  font-weight: normal;
  font-style: italic;
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
p,
blockquote,
.media {
  margin: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6,
img {
  padding-bottom: 0px;
}
pre {
  margin: 10px;
}
table h1,
table h2,
table h3,
table h4,
table h5,
table h6,
table p,
table ul,
table ol,
table dl {
  padding: 0;
}
.ptn,
.pvn,
.pan {
  padding-top: 0px;
}
.pts,
.pvs,
.pas {
  padding-top: 5px;
}
.ptm,
.pvm,
.pam {
  padding-top: 10px;
}
.ptl,
.pvl,
.pal {
  padding-top: 20px;
}
.prn,
.phn,
.pan {
  padding-right: 0px;
}
.prs,
.phs,
.pas {
  padding-right: 5px;
}
.prm,
.phm,
.pam {
  padding-right: 10px;
}
.prl,
.phl,
.pal {
  padding-right: 20px;
}
.pbn,
.pvn,
.pan {
  padding-bottom: 0px;
}
.pbs,
.pvs,
.pas {
  padding-bottom: 5px;
}
.pbm,
.pvm,
.pam {
  padding-bottom: 10px;
}
.pbl,
.pvl,
.pal {
  padding-bottom: 20px;
}
.pln,
.phn,
.pan {
  padding-left: 0px;
}
.pls,
.phs,
.pas {
  padding-left: 5px;
}
.plm,
.phm,
.pam {
  padding-left: 10px;
}
.pll,
.phl,
.pal {
  padding-left: 20px;
}
.mtn,
.mvn,
.man {
  margin-top: 0px;
}
.mts,
.mvs,
.mas {
  margin-top: 5px;
}
.mtm,
.mvm,
.mam {
  margin-top: 10px;
}
.mtl,
.mvl,
.mal {
  margin-top: 20px;
}
.mrn,
.mhn,
.man {
  margin-right: 0px;
}
.mrs,
.mhs,
.mas {
  margin-right: 5px;
}
.mrm,
.mhm,
.mam {
  margin-right: 10px;
}
.mrl,
.mhl,
.mal {
  margin-right: 20px;
}
.mbn,
.mvn,
.man {
  margin-bottom: 0px;
}
.mbs,
.mvs,
.mas {
  margin-bottom: 5px;
}
.mbm,
.mvm,
.mam {
  margin-bottom: 10px;
}
.mbl,
.mvl,
.mal {
  margin-bottom: 20px;
}
.mln,
.mhn,
.man {
  margin-left: 0px;
}
.mls,
.mhs,
.mas {
  margin-left: 5px;
}
.mlm,
.mhm,
.mam {
  margin-left: 10px;
}
.mll,
.mhl,
.mal {
  margin-left: 20px;
}
.data {
  position: relative;
  zoom: 1;
  vertical-align: top;
  text-align: left;
}
.data table {
  width: 100%;
  table-layout: fixed;
}
.txtC,
table .txtC,
table tr .txtC {
  text-align: center;
}
.txtL,
table .txtL,
table tr .txtL {
  text-align: left;
}
.txtR,
table .txtR,
table tr .txtR {
  text-align: right;
}
.txtT,
table .txtT,
table tr .txtT {
  vertical-align: top;
}
.txtB,
table .txtB,
table tr .txtB {
  vertical-align: bottom;
}
.txtM,
table .txtM,
table tr .txtM {
  vertical-align: middle;
}
.data th,
.data td {
  padding: 3px 20px;
}
.posts th {
  font-weight: bold;
}
.posts tbody img {
  width: 40px;
  border: 2px solid rgba(0,0,0,0.7);
}
.posts td {
  vertical-align: middle;
  font-size: 14px;
}
