/* widgets //////////////////////////////////////////////*/
.edit
  display block
  position relative
  cursor pointer
  letter-spacing 1px

.edit span
  display none

.edit:hover span
  display inline
  position absolute
  right 10px
  display block
  top 25px
  padding 5px
  background rgba(255, 255, 255, 0.9)
  border-radius 5px
  font-size 10px
  line-height 10px
  text-align center
  cursor pointer

.edit img
  border 1px rgba(0,0,0,0.7)

.edit:hover img
  border 1px #0000ff

.pic
  width 300px

.thumb
  width 150px


/* Posts Grid ///////////////////////////////////////////*/
.postsList
  margin 20px 0
  width 100%

.postsList th
  font-weight bold
  padding 0 0 10px 0

.postsList tbody img
  width 40px
  margin 0
  border 2px solid rgba(0,0,0,0.7)

tr.post
  margin 0
  padding 0

.post td
  padding 5px
  text-align center
  vertical-align middle

