vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -o-{prop} args
  -ms-{prop} args
  {prop} args

border-radius()
  vendor("border-radius", arguments)

box-shadow()
  vendor("box-shadow", arguments)

background-clip()
  vendor("background-clip", arguments)

transition()
  vendor("transition", arguments)
